* {
  box-sizing: border-box;
}

header {
  padding-left: 10%;
}

main {
  padding-left: 10%;
  padding-right: 10%;
}

footer {
  margin-top: 20px;
  text-align: center;
}

h2 { }
h3 { }
p { }


.search-btn {
  margin-top: 10px;
}


.name-box {
  text-align: center;
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
  border-bottom: 2px solid black;
}

.hidden {
  display: none;
}

.err-message-hidden {
  display: none;
}

#search-form {
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

.price-results-wrapper {
  padding-bottom: 20px;
  padding-right: 10px;
  border-right: 2px solid black;
  
}

.price-box {
  margin: 5px 0px 5px 0px;
  padding: 10px 20px 10px 20px;
  border: 2px solid gray;
  text-align: center;
}

.article-details {
  text-align: center;
  border: 2px solid blue;
  margin: 15px 0px 15px 0px;
  padding: 20px 20px 30px 20px;
}

.news-summary {
  margin-bottom: 40px;
  
}

.go-to-btn {
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  background-color: rgb(46, 46, 240);
  color: white;
  border-radius: 5px;
}