* {
  box-sizing: border-box;
}

header {
  text-align: center;
  margin-top: 10%;
}

main {
  margin: 0;
  padding-left: 3%;
  padding-right: 3%;
}

footer {
  text-align: center;
  margin-top: 5%;
}

h2 { }
p { }
a { }

.search-form {
  padding-top: 25px;
  text-align: center;
}

.symbol-search {
  width: 160px;
  height: 50px;
}

.search-btn {
  margin-top: 20px;
  width: 160px;
  height: 50px;
}


.name-box {
  text-align: center;
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
  border-bottom: 2px solid black;
}

.hidden {
  display: none;
}

.err-message-hidden {
  display: none;
}

.results-group {
  display: flex;
  flex-direction: row;
}

.price-results-wrapper {
  border-right: 1px solid black;
  margin: 10px 0 10px 0;
  padding-bottom: 20px;
  padding-right: 20px;
  flex: 1;  
}

.last-price {
  margin-top: 10px;
  justify-content: center;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.price-data-group {
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 5% 5% 0 5%;
}

.price-row {
  flex: 1;
  border: 1px solid gray;
}

.news-wrapper {
  padding: 10px 0 0 3%;
  /*width: 50%;*/
  flex: 1.5;
  /*height: 600px;*/
  /*overflow: auto;*/
}

.news-results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-gap: 16px;
  grid-auto-flow: dense;
  margin: 0;
  overflow-y: scroll;

}

.article-details {
  margin: 20px 0 20px 0;
  max-width: 300px;
  height: 100%;
  word-break: break-all;
  text-align: center;
  border: 2px solid blue;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  
}

.headline {
  margin: 0;
  flex-grow: 1;
}

.news-source {
  margin: 0;
  flex-grow: 1;
}

.go-to-btn {
  text-decoration: none;
  padding: 10px 0 10px 0;
  background-color: rgb(46, 46, 240);
  color: white;
  border-radius: 10px;
}





/* ----MEDIA QUERY ---*/

@media (max-width: 680px) {
  .news-results {
    display: flex;
    flex-direction: column;
  }

  .article-details {
    margin-bottom: 15px;
  }
}