* {
  box-sizing: border-box;
}

header {
  text-align: center;
}

main {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

ul {
  list-style: none;
  text-align: left;
}

.price-btn {
  margin-top: 10px;
  font-size: 22px;
  width: 100%;
  border-radius: 5px;
}

.search-btn {
  margin-top: 10px;
}

.item button {
  width: 150px;
}

footer {
  margin-top: 20px;
  text-align: center;
}

#name-results {
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}

.hidden {
  display: none;
}

#search-form {
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

#results {
  padding-bottom: 20px;
  border-bottom: 2px solid black;
  
}

.price-section {
  padding-bottom: 40px;
  border-bottom: 2px solid black;
}

.search-history {
  background-color: lightslategray;
  padding: 10px 0 20px 0;
  
}

.history-btn {
  margin-right: 5px;
  padding: 20px 20px 20px 20px;
  border-radius: 5px;
}